/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  border: 1px solid #182825;
  color: #6D8EA0;
  font-family:sans-serif;
  font-size: 16pt;
}

aside {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}